.ipynb_checkpoints

*.csv
.DS_Store
aws_connect.py
aws_credentials.py
Clustering/report/ML1 Report.docx
*.pptx
*.docx
*.pem
*.txt
Clustering/report/ML1 Presentation.pdf

gsta_config.py alias

/netrd/
/graphlets/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/workspace.xml
__pycache__/
gsta_config.py
/.idea/
